.section-container-overall {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;

    background-image: url('../../../../../assets/images/general/apartment-building-city-with-vegetation.png');

    /* Centrar y escalar la imagen correctamente */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .div-container-overall {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40%;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background-color: #1f7a5c;
        padding: 3vw;

        .div-container-text-input {
            width: 100%;
            color: white;

            .div-title {
                h1 {
                    font-size: 3vw;
                    margin: 0px;
                }

            }

            .div-subtitle {
                font-size: 1vw;
            }

            .div-input {
                width: 100%;

                .form {
                    width: 100%;

                    input {
                        width: 100%;
                    }

                    .div-button {
                        margin-top: 1vw;
                        display: flex;
                        justify-content: end;
                        gap: 1vw;
                    }
                }

            }
        }

    }

}

@media screen and (max-width: 700px) {
    .section-container-overall {

        .div-container-overall {

            width: 95%;
            padding: 5vw;

            .div-container-text-input {

                .div-title {
                    h1 {
                        font-size: 5vw;
                    }

                }

                .div-subtitle {
                    font-size: 3vw;
                }

                .div-input {
                    .form {

                        input {
                        }

                        .div-button {
                            margin-top: 3vw;
                            gap: 3vw;
                        }
                    }

                }
            }

        }

    }
}