<section class="section-container-overall">
    <div class="div-container-overall">
        <div class="div-container-text-input">
            <div class="div-title">
                <h1>Recupera tu cuenta</h1>
            </div>
            <div class="div-subtitle">
                <p>Introduce tu correo con el que accedes normalmente. En unos minutos recibirás en esta misma cuenta un
                    correo para recuperar tu cuenta.
                </p>
            </div>
            <div class="div-input">
                <form action="" class="form">
                    <input pInputText pKeyFilter="int" placeholder="Correo" />
                    <div class="div-button">
                        <p-button  label="Cancelar" [rounded]="true" severity="danger"></p-button>

                        <p-button  label="Enviar" [rounded]="true" severity="success"></p-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>